* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background: linear-gradient(90deg, #1f2933, #111827);
    color: white;
    padding: 18px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    font-size: 3em;
    font-weight: 500;
}

.nav-link {
    padding: 8px 16px;
    background: #111827;
    color: white;
    border-radius: 6px;
    text-decoration: none;
}

.lista {
    margin: 8px;
}

button {
    background-color: #2c7be5;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #5454545d;
}

th, td {
    padding: 12px;
    text-align: left;

}

thead {
    font-weight: bold;
}

tr {
    border-bottom: 1px solid #ddd;
}

.btn-add {
    background-color: #07ff2c;
    padding: 6px 10px;
    text-decoration: none;
    color: black;
    border-radius: 4px;
}

.btn-add:hover {
    background-color: #07b5ff;
}

.btn-edit {
    background-color: #ffc107;
    padding: 6px 10px;
    text-decoration: none;
    color: black;
    border-radius: 4px;
}

.btn-edit:hover {
    background-color: #07b5ff;
}