* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f6f8;     
    height: 100%;  
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    margin: 0 auto;
    width: 90%;
    max-width: 600px;
    height: 480px;
    padding: 50px;
    border-radius: 16px;

    background: white;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
    border: 1px solid #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    gap: 20px;               
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;
}

input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 100%;
}

button {
    padding: 10px;
    border-radius: 6px;
    border: none;
    background: #111827;
    color: white;
    cursor: pointer;
}

.edit-form {
    font-size: 25px;
    padding: 2em;
}

.edit-form h1 {
    text-align: center;
}

.actions {
    display: flex;
    gap: 15px;
    margin: 2em;
    justify-content: center;
    align-items: center;
}

.actions button {
    padding: 14px 28px;
    font-size: 16px;  
    border-radius: 8px; 
}

.btn-save {
    max-width: 200px;
    margin: 8px;
}

.btn-delete {
    max-width: 200px;
    margin: 8px;
}

.btn-cancel {
    max-width: 200px;
    margin: 8px;
}